<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mamn01_projekt">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"

        android:theme="@style/Theme.MAMN01Projekt">
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".CatchFail"
            android:exported="false" />
        <activity
            android:name=".ThrowActivity"
            android:exported="false" />
        <activity
            android:name=".CatchActivity"
            android:exported="false" />
        <activity
            android:name=".ReelActivity"
            android:exported="false" />

        <activity
            android:name=".MenuActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>